/* =================== ESTILOS LOGIN =================== */
body.crearcuenta-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 0;
    margin: 0;
}

.login-container {
    width: 400px;
    padding: 40px 30px;
    background: #f9b22d; /* Naranja */
    border-radius: 16px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.login-container h2 {
    font-weight: 800;
    font-size: 32px;
    color: #000;
    margin-bottom: 30px;
}

.login-container input {
    width: 90%;
    height: 50px;
    background: #37526c;
    color: #fff;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    padding: 0 15px;
    margin-bottom: 20px;
}

.login-container button {
    width: 100%;
    height: 50px;
    background: #36320A;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    font-size: 23px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.2s;
}

.login-container button:hover {
    background: #37526c;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  background-color: #1d1d1d; /* Color de fondo */
  font-family: Arial, sans-serif;
}

.card-login {
  width: 320px;
  padding: 20px;
  background-color: #f4a51c;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}